<div class="w-screen h-screen bg-gray-50 relative">
    <div class="absolute w-full h-full">
        <img class="absolute w-96 left-0 bottom-0" src="../../../assets/svg/undraw_businessman_5ccp.svg" alt="bg left">
        <img class="absolute w-96 right-0 bottom-0" src="/assets/svg/undraw_futuristic_interface_re_0cm6.svg" alt="bg left">
    </div>
    <div class="relative w-4/12 m-auto">
        <header class="pt-6 pb-2 flex justify-center">
            <img class="w-56" src="../../../assets/images/logo/logo-gradient-blue-trello.png" alt="logo">
        </header>
        <div class="bg-white shadow rounded">
            <h1>as</h1>
        </div>
    </div>
</div>