<div class="w-screen h-screen bg-gray-50 relative">
  <div class="absolute w-full h-full">
    <img
      class="absolute w-96 left-0 bottom-0"
      src="../../../assets/svg/undraw_businessman_5ccp.svg"
      alt="bg left"
    />
    <img
      class="absolute w-96 right-0 bottom-0"
      src="/assets/svg/undraw_futuristic_interface_re_0cm6.svg"
      alt="bg left"
    />
  </div>
  <div class="relative w-4/12 m-auto">
    <header class="pt-6 pb-2 flex justify-center">
      <img
        class="w-56"
        src="../../../assets/images/logo/logo-gradient-blue-trello.png"
        alt="logo"
      />
    </header>
    <div class="bg-white shadow drop-shadow-xl rounded py-4 px-6">
      <div class="mb-4">
        <h1 class="text-center font-semibold pt-4 pb-8">
          Iniciar sesión en Trello
        </h1>
        <form novalidate class="space-y-4" action="">
          <div class="relative">
            <input
              placeholder="Enter email"
              type="email"
              class="w-full rounded bg-gray-100 border-2 border-gray-300"
            />
          </div>
          <div class="relative">
            <input
              placeholder="Enter password"
              type="password"
              class="w-full rounded bg-gray-100 border-2 border-gray-300"
            />
          </div>
          <div>
            <button
              class="text-white w-full font-medium rounded text-sm bg-green-500 px-5 py-2"
              type="submit"
            >
              Continuar
            </button>
          </div>
        </form>
        <div class="pt-8 pb-8">
          <hr />
        </div>
        <ul class="text-blue-500 text-center flex flex-col gap-1">
          <li class="m-auto">
            <a href="">¿No puede iniciar sesión?</a>
          </li>
          <li class="list-disc m-auto">
            <a href="">Regístrese para crear una cuenta</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="pt-8 pb-8">

        <ul class="text-blue-500 text-sm text-center flex justify-center gap-8">
          <li><a href="">Política de Privacidad</a></li>
          <li class="list-disc">
            <a href="">Condiciones del Servicio</a>
          </li>
        </ul>
    </div>
    <div class="pt-8 pb-8">
        <hr />
      </div>
    
  </div>
</div>
